<div class="row">
    <h1> Estudios</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1> Estudio Secundario "Humanidades y Ciencias Sociales</h1> <!-- <h3>{{years}}</h3>-->
           </li>
           <p> En Diciembre del 2011 finalicé mis estudios secundarios en la escuela "Dante Alighieri" de la ciudad de Santa Fé.</p>
        </ul>
        <ul>
            <li>
                <h1> Estudios Universitarios</h1> <!-- <h3>{{years}}</h3>-->
           </li>
           <p> En Marzo del 2012 comencé a cursar la carrera de Abogacía en la Universidad Nacional del Litoral. (Estudios incompletos, % de la carrera).
            En Mayo del 2023 comencé a cursas la licenciatura en Mecatrónica en la Universidad Tecnológica Nacional.
           </p>
        </ul>
        <ul>
            <li>
                <h1> Phyton Cisco Academy</h1> <!-- <h3>{{years}}</h3>-->
           </li>
           <p> En Marzo del 2023 comencé un curso de Phyton con Cisco Academy</p>
        </ul>
    </div>
</div>