.row{
    padding: 30px;
    text-align: center;
 }
div{ 
    background-color: rgb(136, 169, 203);
    text-align: center;
    text-shadow: rgb(237, 22, 237) 0.75px 0.75px 0.75px;
}
h1, h3 {display: inline;}