<div class="row">
    <h1><i><b> Información Laboral</b></i></h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1> Estudio Jurídico</h1> <!-- <h3>{{years}}</h3>-->
           </li>
           <p> Desde Julio del 2012 hasta Diciembre del 2021 <!-- <h3>{{years}}</h3>--> años, me desarrollé en el área jurídica, siendo secretaria de un estudio jurídico. Lugar que elegí por la carrera que estaba estudiando.</p>
        </ul>
        <ul>
            <li>
                <h1> Estudio Contable</h1> <!-- <h3>{{years}}</h3>-->
           </li>
           <p> Desde Noviembre del 2021 y hasta la actualidad, me desarrollé en el área contable, siendo secreatria de un estudio contable</p>
        </ul>
    </div>
</div>