<div class="row">
<div class="logo"> <img src="../../../assets/Imagenes Logos/LOGO ARGENTINA PROGRAMA.jpg" id="Logo_a_p" alt="">
</div>
<div class="container">
    <div class="redes">
    <a href="discordapp.com/users/RubbiaFlash69#9903"> <img src="../../../assets/Imagenes Logos/Discord.png" id="Logo_discord" alt=""></a>
    <a href="https://github.com/Flash069"> <img src="../../../assets/Imagenes Logos/GITHUB FONDO NEGRO.png" id="Logo_github" alt=""></a>
    <a href="https://www.instagram.com/eugeinsta/"> <img src="../../../assets/Imagenes Logos/LOGO INSTAGRAM COLOR.png" id="Logo_instagram" alt=""></a>
    <a href="https://www.linkedin.com/in/euge-flash-528970246/"> <img src="../../../assets/Imagenes Logos/LINKEDIN FONDO BLANCO.png" id="Logo_linkedin" alt=""></a>
<button type="button" class="btn btn-outline-light" id="INGRESO"></button>
</div>
</div>
</div>