<div class="row">
    <h1><i> Cursos y talleres de especialización en Desarrollo Web</i></h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1> ArgentinaPrograma 4.0</h1> <!-- <h3>{{years}}</h3>-->
           </li>
           <p> En Julio del 2022 comencé con el curso de ArgentinaPrograma 4.0 logrando desarrollar su primer etapa  En Mayo del 2023 concluí la segunda etapa #SéProgramar.#YoProgramo y este es mi proyecto final.</p>
        </ul>
        <ul>
            <li>
                <h1> Java Script Cisco Academy</h1> <!-- <h3>{{years}}</h3>-->
           </li>
           <p> En Marzo del 2023 comencé un curso de JavaScript con Cisco Academy</p>
        </ul>
        <ul>
            <li>
                <h1> Phyton Cisco Academy</h1> <!-- <h3>{{years}}</h3>-->
           </li>
           <p> En Marzo del 2023 comencé un curso de Phyton con Cisco Academy</p>
        </ul>
    </div>
</div>
