.row{ 
    padding: 10px;
    background-color: rgb(136, 169, 203)
    ;
}
footer{
   color: blue;
   
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    
}