<div class="row">
    <h1><i><b>Proyectos de Página Web</b></i></h1>
    <div class="container">
        <div>
            <ul>
            <li> <h1>Proyecto Final Argentina Programa 4.0</h1>
        <p> Esta página web, que respresenta mi información laboral profesional, forma parte del Proyecto Final Integrador de Argentina Programa, seguna etapa #YoProgramo. Un curso de capacitación en Web Full Stack de 7 meses. Que me brindó conocimientos en Java, Sping Boot, HTML, CSS, Boostrap, Angular, TypeScript, GitHub, MySQL, </p>
            </li>
    </ul>
    </div>
    </div>
    </div>
