    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Imagenes Logos/20221009_063751.jpg" id="Perfil" class="img-fluid">
        </div>     
<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
    <h1 id="nombre" > <!-- {{usuario.nombre}} -->
      <i>Baudracco, María Eugenia </i></h1>
        <h2><i>Bienvenid@ a mi portfolio</i></h2>
</div>
<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
    <span>
        <i> 
        <h1> Sobre mí</h1>
        <p> Soy una persona muy curiosa y eso me ha llevado a tomar varios cursos y talleres sobre las TIC y electromecánica brindándome muchas herramientas para la creación y producción de soluciones tecnológicas</p>
    </i> </span>
</div>
    </div>