<div class="row"> 
    <div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2">
    <circle-progress
 [percent]="100"
  [showSubtitle]="false"
  [title]="'Java'"
  [titleColor]="'darkviolet'"
  [titleFontSize]="'2em'"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'darkviolet'"
  [innerStrokeColor]="'darkblue'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2">
    <circle-progress
  [percent]="80"
  [showSubtitle]="false"
  [titleColor]="'darkviolet'"
  [title]="'JavaScrip'"
  [titleFontSize]="'1em'"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'darkviolet'"
  [innerStrokeColor]="'darkblue'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2">
    <circle-progress
  [percent]="60"
  [showSubtitle]="false"
  [title]="'CSS'"
  [titleColor]="'darkviolet'"
  [titleFontSize]="'2em'"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'darkviolet'"
  [innerStrokeColor]="'darkblue'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2">
    <circle-progress
  [percent]="80"
  [showSubtitle]="false"
  [title]="'HTML'"
  [titleColor]="'darkviolet'"
  [titleFontSize]="'2em'"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'darkviolet'"
  [innerStrokeColor]="'darkblue'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2">
    <circle-progress
  [percent]="10"
  [showSubtitle]="false"
  [title]="'Phyton'"
  [titleColor]="'darkviolet'"
  [titleFontSize]="'2em'"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'darkviolet'"
  [innerStrokeColor]="'darkblue'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
</div>