.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#Logo_a_p {
        width: 130%;}
#INGRESO{ width: 100px; height: 50px; border-width: medium; }

img{width: 50px;
}
.redes{
    margin-right: 1em;
    margin: 1em;
}
@media (max-width:500px){
.container{
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
    