<div class="row">
    <div class="container">
<div class="logo"> 
    <img src="../../../assets/Imagenes Logos/LOGO ARGENTINA PROGRAMA.jpg" id="Logo_a_p" alt="">
</div>

 <div class="redes">
    <a href= "/login"> <!-- "discordapp.com/users/RubbiaFlash69#9903"> -->
         <img src="../../../assets/Imagenes Logos/Discord.png" id="Logo_discord" alt=""></a>
    
    <a href= "/login"> <!-- "https://github.com/Flash069"> --> 
        <img src="../../../assets/Imagenes Logos/GITHUB FONDO NEGRO.png" id="Logo_github" alt=""></a>
   
    <a href= "/login"> <!-- "https://www.instagram.com/eugeinsta/"> --> 
        <img src="../../../assets/Imagenes Logos/LOGO INSTAGRAM.jpg" id="Logo_instagram" alt=""></a>
   
    <a href= "/login"> <!--"https://www.linkedin.com/in/euge-flash-528970246/" -->  
        <img src="../../../assets/Imagenes Logos/LINKEDIN.png" id="Logo_linkedin" alt=""></a>
   
    <button type="button" class="btn btn-outline-light .btn-block" (click)="ingreso()" id="INGRESO" ngIf="!isLogged" ><B>INGRESO</B></button>
    <button type="button" class="btn btn-outline-light .btn-block" (click)="onLogOut()" id="INGRESO" ngIF ="isLogged"><B>Cerrar Sesión</B></button>
</div>
</div>
</div>